nav{
  
  background: linear-gradient(-80deg ,rgb(149, 221, 14),rgb(135, 224, 190),white);
  
}

h1 {
   font-family: 'Justo', cursiva;
    font-size: 250px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    text-shadow:2px 2px 2px rgb(66, 58, 56);
    color: rgb(197, 45, 7);
    
  }
/* @media screen and (max-width: 3000px){

    @keyframes traslacion {
      0%   {color: #ebdfdf; left:0px; top:10px;}
      100% {color: rgb(57, 4, 100); left:80vh ; top:10px;} }
  }
  @media screen and (max-width: 970px){

    @keyframes traslacion {
      0%   {color: #ebdfdf; left:0px; top:10px;}
      100% {color: rgb(57, 4, 100); left:30vh ; top:10px;} }
  }
  @media screen and (max-width: 795px){

    @keyframes traslacion {
      0%   {color: #ebdfdf; left:0px; top:10px;}
      100% {color: rgb(57, 4, 100); left:20vh ; top:10px;} }
  }
  @media screen and (max-width: 525px){
    @keyframes traslacion {
      0%   {font-size:30px;color: #ebdfdf; left:0px; top:0px;}
      100% {font-size:30px;color: rgb(57, 4, 100); left:4vh ; top:0px;} }
  }
  */

 .cuerpo{
   background:rgb(73, 169, 224) ;
   
 } 
 img{
   transition: 0.5s;
 }  
 img:hover{
   transform: scale(1.1);

 }
h5{
  color: rgb(250, 234, 7);
}
 p{
   color: rgb(2, 6, 70);
   
 }

   
 