body{
    background-image:url("hola.jpg.jpg");
}

h1 { 
    font-size:3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(10, 173, 238);
    text-align: center;
    text-decoration-line: underline;
}


.formulario{
    height: 800px;
    
}

div {
    text-align: center;
    margin-top: 80px;
    padding: 30px;
}




label{
    display:block;
    padding: 20px;
    font-size: 2em;
}


input:focus{
background-color: orange;
color: white;
padding:10px;
font-size:30px;

}

button{
    padding: 10px;
    background-color: #0fe9d3;
    width: 160px;

}

button:hover{
    color: white;
}