
nav{
  
    background: linear-gradient(-80deg ,rgb(107, 2, 60),rgb(40, 77, 158),rgb(23, 2, 82));
    
  }
  .logo{
    transition: 0.5s;
  }  
  .logo:hover{
    transform: scale(1.1);
 
  }


.cuerpo{
    background-image: linear-gradient(#ff00cc, #333399,#ff00cb) ;
}
h1{
    font-family: 'Festivo', cursiva;
    text-align: center;
   padding-top: 20px;
   color: rgb(5, 255, 201);
   font-weight: bold;
}
.contenedor{
    box-shadow:10px gray;
}

iframe{
    width: 200vh;
    height: 60vh;

    
 
}
.icono{
    color: rgb(5, 255, 201);
}
.direccion{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(207, 232, 252);
}
.telefono{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(207, 232, 252);
}
.email{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(207, 232, 252);
}