
img{
    width:100%;
    position: absolute;
    height:auto;
}

@media screen and (max-width: 835px){
    img{
        max-width: 100%;
       min-height:100%;
       
       position: absolute;
    }
}

@media screen and (max-width: 520px){
    img{
       min-width:100%;
       min-height:100%;
      position: absolute;
     
    }
}